{# templates/pdf/pdf_by_url.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Générer un PDF par un fichier HTML{% endblock %}

{% block body %}
    <h1>Générer un PDF par un fichier HTML</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Générer</button>
    {{ form_end(form) }}
{% endblock %}